.Button {
  padding: 10px;
  background-color: var(--upstart-orange);
  border: 0;
  border-radius: 8px;
  color: #f1f1f1;
  font-size: 18px;
  transition: opacity 0.2s ease;
}

.Button:hover {
  cursor: pointer;
  opacity: 0.8;
}